<!DOCTYPE html>
<html>
<head>
	<title>Electronico Raro / Tienda en línea</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
</head>
<body>
	<header>
		<h1>Electronico Raro</h1>
		<p>Cosas raras para tu computadora</p>
		<nav>
			<ul>
			<li><a href="">Inicio</a></li>
			<li><a href="">Productos</a></li>
			<li><a href="">Ver carrito</a></li>
			</ul>
		</nav>
	</header>
	<div class="contenedor">
		<section class="categorias">
			<a href="">cables</a>
			<a href="">protectores</a>
			<a href="">cargadores</a>
			<a href="">usbs</a>
			<a href="">Discos externas</a>
			<a href="">tablets </a>
		</section>
		<section class="productos">
			<article class="producto">
				<figure>
					<img src="../static/img/cables.jpg">
				</figure>
				
			</article>
		</section>
		<section class="variado">
		</section>
	</div>
	<footer>
		<p>Hecho por David Duran Miranda <a href="mailto:davidduranm@gmail">Contatco</a></p>
	</footer>
</body>
</html>